.analytics-charts {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.chart-container {
    max-width: 300px;
    max-height: 250px;
    justify-content: center;
    display: flex;
    flex-direction: column;
}


.charts-grid {
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem; */
    display: flex;
}

@media (max-width: 768px) {
    .charts-grid {
        grid-template-columns: 1fr;
    }
} 