body {
    padding: 0;
    margin: 0;
    font-family: Tahoma;
    font-size: 14px;
  
    background-size: cover;
}


section {
    display: flex;
}

.main-slidebar {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    background-color: rgba(244, 244, 244, 0.7);
    backdrop-filter: blur(6px);
    margin-top: 2%;
    margin-left: 1%;
    justify-content: space-between;

    width: 17%;
    text-align: center;
}

.blur-background {
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    background-color: rgba(244, 244, 244, 0.7);
    backdrop-filter: blur(6px);
}
.timetable{
    width: 20%;
    margin-top: 2%;
    margin-left: 3rem;
}
/* timetable grade batch css */
.grade-selector , .batch-selector{
    background-color: #333;
    color: white;
    border: none;
    margin-top: 1rem;
    padding: 1rem ;
}
.grade-batch{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.active {
    color: #fff; /* Change the color to your preference */
    background-color:green; /* Change the background color to your preference */
    /* Add any additional styling as needed */
}
.active-slidebar{
    background-color: grey;
}

.slidebar {
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    cursor: pointer;
}

div.scrollmenu {
    background-color: #333;
  
}
div.scrollmenu {
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
}

div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 19px;
    text-decoration: none;
}


/*hover effect*/
div.scrollmenu a:hover {
    background-color: grey;
}

.slidebar:hover {
    background-color: black;
    color: white;
}

.slidebar:focus {
    background-color: green;
    color: white;
}

#content-div {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
}

.clicked {
    background-color: green;
    /* Change to your desired color */
}


/* change content of dashboard */
.dashboard{
    display: flex;

}




.main-content {
    margin-left: 2rem;
    margin-top: 2%;
    display: flex;
}

.quick-links {
    display: flex;
    margin-left: 2rem;
}

.roster,
.marks-exam {
    display: flex;
    flex-direction: column;
    width: 18rem;
    justify-content: space-around;
    text-align: center;
}

.site-footer {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    background-color: rgba(244, 244, 244, 0.7);
    backdrop-filter: blur(6px);
}